site_name: Lakekeeper Docs
repo_url: https://github.com/lakekeeper/lakekeeper
site_description: Lakekeeper is a rust native Iceberg REST Catalog
site_author: Lakekeeper Team
edit_uri: blob/main/docs/

theme:
  name: material
  color_mode: auto
  user_color_mode_toggle: true
  nav_style: dark
  locale: en
  highlightjs: true
  hljs_languages:
    - yaml
    - rust
  shortcuts:
    help: 191 # ?
    next: 78 # n
    previous: 80 # p
    search: 83 # s
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.path
    - navigation.top
    - navigation.tracking
    - toc.follow
    - offline
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.copy
    - content.code.annotate

nav:
  - Home: index.md
  - Getting Started: getting-started.md
  - Docs:
      - nightly: "!include docs/docs/nightly/mkdocs.yml"
  - About:
      - Release Notes: about/release-notes.md
      - License: about/license.md
      - Code of Conduct: about/code-of-conduct.md

markdown_extensions:
  - pymdownx.snippets:
      # check_paths: True
      restrict_base_path: False
      base_path: .
  - markdown.extensions.attr_list
  - md_in_html
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences

# extra_css:
#   - css/extra.css

copyright: Copyright &copy; 2024 <a href="https://lakekeeper.io">Lakekeeper</a>, Maintained by the <a href="/about/release-notes/#maintenance-team">Lakekeeper Team</a>.

plugins:
  - monorepo
  - search
  - autorefs

watch:
  - docs
